:root {
  --foreground-rgb: 0,0,0;
  --surface-rgb: 255,255,255;
  --background-start-rgb: 250,250,250;
  --background-end-rgb: 225, 225, 225;
  --easing: cubic-bezier(0, .5, .5, 1);
  --transition: .5s var(--easing);
  --shadow-rgb: 0,0,0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  transition: var(--transition);
  font-size: 14px;
  letter-spacing: -.3px;
}

a {
  color: inherit;
  text-decoration: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
    background: linear-gradient(to bottom right,
          rgb(var(--background-start-rgb)),
          rgb(var(--background-end-rgb)));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255,255,255;
    --surface-rgb: 10,10,10;
    --background-start-rgb: 0,0,0;
    --background-end-rgb: 10, 10, 10;
    --shadow-rgb: 0,0,0;
  }
  html {
    color-scheme: dark;
  }
}


a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  opacity: 0.7;
  transition: var(--transition);
}

a:hover {
  opacity: 1;
}