.wrapper {
  width: 512px;
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(var(--surface-rgb));
  border-radius: 0.5rem;
  box-shadow: 0 2rem 3rem -1rem rgba(var(--shadow-rgb), 0.1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: calc(100vh - 4rem);
  margin: 2rem auto;
}

.logo {
  margin-bottom: 1rem;
}

.logo :global(svg) {
  max-width: 4rem;
  max-height: 4rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.header {
  width: 512px;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}